@use "../../styles/mixins.scss" as m;

:host {
  .app-container {
    background-color: #26c6da;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease; /* Smooth color transition */
    color: #ffffff;

    .modal-container {
      display: flex;
      justify-content: center;
      height: 100vh;
      flex-direction: column;

      .nav-bar {
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(255, 255, 255, 0.5);
        display: flex;
        gap: 6rem;
        justify-content: center;

        @include m.tablet {
          gap: 10rem;
        }

        label {
          cursor: pointer;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: translateY(-5px) scale(1.1); // Moves up and scales up slightly
            color: #ffffff;
          }

          &.highlight {
            color: #ffffff;
          }
        }
      }
    }
  }
}
