<div class="timer-container">
  <h1 class="timer">
    {{ countdown() }}
  </h1>
  <ng-container *ngIf="!isRunning(); else stopBtn">
    <button [ngStyle]="{ color: textColor() }" (click)="startCountdown()">
      <span class="material-symbols-outlined"> play_arrow </span>
    </button>
  </ng-container>
  <ng-template #stopBtn>
    <button [ngStyle]="{ color: textColor() }" (click)="stopCountdown()">
      <span class="material-symbols-outlined"> pause </span>
    </button>
  </ng-template>
</div>
